parameters:
    tactician:
        bus: League\Tactician\CommandBus

services:
    -
        class: League\Tactician\PHPStan\TacticianRuleSet
        arguments:
            commandBusClass: %tactician.bus%
        tags:
            - phpstan.rules.rule

    -
        class: League\Tactician\PHPStan\HandlerReturnTypeExtension
        arguments:
            commandBusClass: %tactician.bus%
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: League\Tactician\Handler\Mapping\CommandToHandlerMapping
        factory: League\Tactician\PHPStan\MappingLoader::loadBootstrapFile(%tactician.bootstrap%)
